PRIMARY_DOMAIN=searchtweak.local
INSTALL_OPCACHE=1
PHP_OPCACHE_VALIDATE_TIMESTAMPS=0

APP_DB_PLATFORM=linux/amd64
APP_DB_VERSION=8.0
APP_DB_HOST=searchtweak-db
APP_DB_PORT=3306
APP_DB_DATABASE=searchtweak
APP_DB_USER=root
APP_DB_PASSWORD=root
APP_DB_ROOT_PASSWORD=root

# Horizon Workers
HORIZON_SUPERVISOR_1_MIN=6
HORIZON_SUPERVISOR_1_MAX=6
HORIZON_SUPERVISOR_3_MIN=2
HORIZON_SUPERVISOR_3_MAX=2
